* {
    font-family: 'Open Sans', sans-serif; 
    justify-content: center;
    text-align: center; 
    overflow-x: hidden;
}
body {
    display: grid; 
}
nav {
    background-color: black; 
    padding: 10px;
} 
#logo {
    justify-content: center;
    width: 6.8em;
    height: 2.2em; 
    margin: 2.1em;
} 
header {
    display: block;
    background-image: url('../img/banner.jpg');
    padding-bottom: 7em;
    text-align: center;
} 
header h1 {
padding-top: 50px;
font-size: 30px;
}

header p {
    padding-top: 0.1em;
}
button {
    display: inline-block;
    width: 180px;
    height: 45px;
}
button {
    background-color: #EE2200;
    color: white; 
    border-radius: 4px;  
    border: none; 
    margin-top: 40px;
} 
h1, h3 {
    color: #22AACC;
} 
p {
    color: #4d4d4d; 
    font-size: 15px;
} 
#tutti {
    margin-top: 2.5em;
} 
#tutti2 {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
#notebook {
    border-radius: 50%; 
    margin-top: 30px;
} 
.assurance {
    display: block;
    background-color: #EE2200; 
    color: white; 
    width: 100%;
    height: 9%; 
    overflow-y: hidden; 
} 
.assurance h2 {
    padding-top: 1.3em;
}
.assurance blockquote {
    padding-top: 2em;
}
footer {
    display: block;
    background-color: #22AACC; 
    color: white; 
    width: 100%;
} 
#riga {
    border-bottom: 0.1em solid lightgoldenrodyellow; 
    margin: 20px;
} 
 .box {
    border: 1px solid lightgray; 
    margin: 35px;
    padding-bottom: 35px;
 } 
 .box h3 {
     display: block;
     margin: 30px;
 }
small {
    padding-bottom: 50px;
}
address {
    padding-bottom: 20px; 
    font-size: 0.9em;
    font-style: normal;
    margin-bottom: 40px;
    color: rgb(235, 235, 235);
}
#mario {
    display: block;
    padding-top: 60px;
} 
#mario small {
    margin-top: 7px;
    display: block;
}
.boxX {
    margin-bottom: 1em;
}
footer h2 {
    display: block;
    padding-top: 1.7em;
} 
footer p {
    padding-bottom: 3em;
    padding-top: 1.2em;
    color: rgb(235, 235, 235);
    font-size: 0.7em;
}
hr {
    color: rgb(235, 235, 235);
    width: 80%;
} 
i {
    color: #EE2200; 
}

a {
    color: rgb(235, 235, 235); 
    text-decoration: none; 
}

/* 2 Media Queries */
@media screen and (max-width: 720px) {
    .box {
    display: inline-block;
    width: 30rem;
    }
    img {
        display: inline-block;
        width: 30rem;
        }
  } 


